@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Corben:wght@700&family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url("components/container.css");

@import url("components/avatar.css");

@import url("components/button.css");

@import url("components/image.css");

@import url("components/questionbox.css");

@import url("components/arrow.css");

@import url("components/banner.css");

body{
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
}

h1 {
	font-family: 'Corben', cursive;
	font-size: 96px;
}

h2{
	font-family: 'Arya', sans-serif;
	font-size: 96px;
}

h3{
	color: #D3C25F;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	line-height: 37px;
	font-weight: bold;
	text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}