.btn-brown{
	background-color:#3D180B;
	padding: 18px 66px;
	border-radius: 24px;
	color: #D3C25F;
	font-weight: 400;
	width: 103px;
	height: 40px;
	text-decoration: none;
	display: block;
	text-align: center;
}