/*contact page*/

.contact {
   position: absolute;
   width: 410px;
   height: 115.81px;
   left: 100px;
   top: 30px;
}

.card-contact {
    width: 500px;
	top:300px;
    position: relative; /* on positionne le conteneur */
    margin-right: 50%;
	padding:0px; 
	text-align:left;
	margin: 80px ;	
}

.photo-contact {
	position: absolute;
    width: 743px;
    height: 1420px;
    left: 695px;
    top: 0px;
}

#input-contact {
	position: absolute;
    top: 773px;
    display: block;
    color: #D3C25F;
	font-weight: 500;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	margin: .4rem 0;
    background-color: rgba(61, 24, 11, 0.75);
	padding: 150px 130px;
	border-radius: 24px;
	width: 222px;
	height: 39px;
	margin: 80px;
	text-overflow: ellipsis;
}
   
.submit-contact{
    position: absolute;
    width: 231px;
    height: 72px;
    left: 239px;
    top: 1231px;
}